In [1]:
#importing the libraries

import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras

import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
#Loading the model file

reconstructed_model = keras.models.load_model('My_Model')

The model is trained on the normalized data, so we need to normalize any inputs to make any prediction.

# Predictions

In [20]:
#setting the column names

column_names=['serial', #the serial number
 'date',                #year of sale of house
 'age',                 #age of house at time of sale
 'distance',            #distance of house from city center (in KM)
 'stores',              #number of stores in the locality
 'latitude',            #latitude
 'longitude',           #longitude
 'price']               #price of house

In [21]:
df = pd.read_csv('data.csv', names = column_names) 
df.head()

   serial  date  age  distance  stores  latitude  longitude  price
0       0  2009   21         9       6        84        121  14264
1       1  2007    4         2       3        86        121  12032
2       2  2016   18         3       7        90        120  13560
3       3  2002   13         2       2        80        128  12029
4       4  2014   25         5       8        81        122  14157

In [22]:
df = df.iloc[:,1:]

In [23]:
#mean vales
mean_val=df.mean()
mean_val

date          2008.9128
age             18.9450
distance         4.9778
stores           4.9150
latitude        84.9714
longitude      124.9942
price        13906.6386
dtype: float64

In [24]:
std_val=df.std()
std_val

date            5.457578
age            11.329539
distance        3.199837
stores          3.142889
latitude        3.161990
longitude       3.167992
price        1020.774876
dtype: float64

## Enter the values to be tested

## And we do the normalization

In [25]:
#Take the year of sale

date=2016

date=(date- mean_val[0] )/ std_val[0]

In [26]:
#Take the age of house at time of sale

age=18

age=(age- mean_val[1] )/ std_val[1]

In [27]:
#Distance of house from city center (in KM)

distance=3

distance=(distance- mean_val[2] )/ std_val[2]

In [28]:
#number of stores in the locality

stores=7

stores=(stores- mean_val[3] )/ std_val[3]

In [29]:
#latitude

latitude=90

latitude=(latitude- mean_val[4] )/ std_val[4]

In [30]:
#longitude

longitude=120

longitude=(longitude- mean_val[5] )/ std_val[5]

In [31]:
#converting back the normalized price to real value of price

y_mean = df['price'].mean()
y_std = df['price'].std()

def convert_label_value(pred):
    return float(pred * y_std + y_mean)

# Working on the test values

In [32]:
#numpy array

test_input= np.array( [[ date, age, distance, stores, latitude, longitude]] )

In [33]:
#prediction

val= reconstructed_model.predict(test_input)
res=val[0][0]

In [34]:
#testing the function

print("The predicted price is=",convert_label_value(res))

The predicted price is= 13860.754251180304

So we can see that the value is very close to what actual price might be.

Thank You.